# Gradle files and directories
.gradle/
build/
**/build/
!gradle-wrapper.jar
.gradle/*

# Local configuration files
/local.properties
/.idea/workspace.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
.idea/codeStyles/
.idea/vcs.xml
.idea/assetWizardSettings.xml
.idea/.name

# Android-specific files
*.iml
*.hprof
*.log
.DS_Store
*.orig

# Ignore unnecessary Git files
.idea/caches
.idea/modules.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
*.apk
*.ap_
*.cxx/
**/*.apk
**/*.ap_

# Keys and sensitive files
*.keystore
*.jks

# Test results
*.test/
**/generated/
*.retry

# OS-specific files
*.swp
*~.*
*.tmp
*.bak
*.swo
*.directory
Thumbs.db
ehthumbs.db

# JetBrains IDE files
.idea/
out/